/* VARIABLES*/
$font-logo: 'Dancing Script', cursive;
$font-main: 'Raleway', sans-serif;

/*media quaries*/
@media (max-width: 768px) {
    .splash {
        height: 80vh;
        background-image: url('/images/top_background_mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        margin: 0;
    }
    .menu-list {
        flex-direction: column;
        justify-content: end;
        padding-bottom: 8px;
    }
    .welcome .button {
        margin-bottom: 6%;
    }
}
@media (min-width: 768px) {
    .splash {
        height: 50vh;
        background-image: url('/images/top_background_main.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        margin: 0;
    }
    .menu-list {
        list-style-type: none;
        flex-direction: row;
        justify-content: end;
    }
    .menu-list li a {
        display: block;
    }
    
}


/*GLOBAL*/
.body {
    font-family: $font-main;
    color: white;
    height: 100%;
}
.title {
    text-align: center;
    margin-top: 35px;
}
.title h1 {
    font-size: 280%;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 8px;
}
.title p {
    font-style: italic;
    color: darkgray;
    font-weight: 550;
}

/*Header*/
.splash {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    color: white;
}
.splash a {
    color: white;
    text-decoration: none;
}
.splash .logo a {
    text-decoration: none;
    font-family: $font-logo;
    font-size: 38px;
    color: orange;
}
.splash .container {
    height: 75%;
}
.navbar {
    justify-content: space-between;
}
.menu {
    display: flex;
    justify-content: right;
}

.menu-list {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
    font-variant: small-caps;
    font-family: $font-main;
    font-weight: bold;
    font-size: 130%;
}
.menu-list li a {
    text-align: right;
}
.welcome h3, h1 {
    text-align: center;
}
.welcome {
    height: 90%;
    justify-content: center;
}
.welcome h3 {
    padding-top: 12px;
    font-family: $font-main;
    font-size: 160%;
    font-weight: 200;
    font-style: italic;
}
.welcome h1 {
    margin-top: -8px;
    font-family: $font-main;
    font-size: 350%;
    font-weight: 600;
    font-variant: small-caps;
}
.button {
    background-color: gold;
    border-radius: 14px;
    margin: 0;
    text-align: center;
    align-items: center;
}
.btn {
    font-family: $font-main;
    font-size: 200%;
    font-weight: 450;
    font-variant: small-caps;
}

/*SERVICES*/

.services {
    font-family: $font-main;
}
.services .row {
    padding-bottom: 25px;
}
.service-card {
    align-content: center;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
}
.service-card i {
    color: gold;
    border: solid gold 2px;
    border-radius: 50%;
    font-size: 35px;
    padding: 10px;
}

/*Our Work*/
.ourwork {
    font-family: $font-main;
    background-color: rgb(240, 240, 240);
    padding-top: 35px;
    padding-bottom: 75px;
}
.ourwork .container {
    flex-wrap: wrap;
}
.ourwork .container .row{
    align-items: center;
}
.work {
    background-color: white;
}
.work-card .image {
    height: 75%;
    object-fit: cover;
    overflow: hidden;
}
.work .work-card img {
    object-fit: cover;
    max-width: 100%;
}
.work-description {
    height: 25%;
    text-align: center;
    align-content: center;
}
.work-description h3 {
    padding: 0px;
    margin: 5px;
}
.work-description p {
    padding: 0px;
    margin: 3px;
    color: darkgray;
    font-weight: 500;
    font-style: italic;
}